@tailwind base;
@tailwind components;
@tailwind utilities;

.leaderBoard {
  box-shadow: 2px 0px 5px #00000080;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #37433f;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #edff85;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a8682;
}
